<p>quote works!</p>
<div *ngFor='let quote of quotes;let i=index' (click)='toggleDetails(i)'>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
        <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <ul>
                  <li class="card-text">
                        {{quote.name}} 
                  </li> 
                </ul>
                </div>
              </div>
    <app-quote-detail *ngIf='quote.showDetails'[quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
</div>
</div>
</div>
</div>
<div>
    <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>

   
